body {
  margin: 0px;
  padding: 0px;
}

.top-head {
  padding: 0 !important;
}

.heading h1 {
  background-color: #2a3c50;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 17px 0px;
  font-weight: 500;
  margin-top: 0;
}

.look {
  margin-left: 3px;
  text-decoration: underline;
}

.look:hover {
  color: #0056b3;
  text-decoration: none;
}

/* .second-layer div span {
  display: flex;
  position: relative;
  font-size: 10px;
  padding: 1px 1px;
  right: -20px;
  top: 0px;
  width: 69px;
  height: 19px;
  border-radius: 3px;
  background-color: #16cebc;
  line-height: 1.1;
  color: white;
} */

.second-layer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageLogo {
  width: 134px;
  height: 33px;
}

.pageLink {
  display: flex;
  align-items: center;
}

.pageLink div a {
  margin-right: 15px;
  color: #43434b;
  font-size: 17px;
  text-decoration: none;
}

.top-bottom {
  position: relative;
}

.second a {
  position: absolute;
  top: -21px;
  right: -17px;
  background-color: #16cebc;
  font-size: 10px !important;
  padding: 4px 6px;
  border-radius: 3px;
  line-height: 1.1;
  color: #fff !important;
}

.para-container p {
  font-size: 50px;
  text-align: center;
  font-weight: 900;
  line-height: 75px;
  margin-top: 60px;
}

.usable {
  background-color: #e0e4fa;
}

.blazingfast {
  background-color: #fff3e4;
}

.bugfree {
  background-color: #fae5ef;
}

.secure {
  background-color: #e5fbf3;
}

.scalable {
  background-color: #f5e5fb;
}

img {
  left: 10px;
  vertical-align: middle;
  border-style: none;
  border-radius: 8px;
  background: transparent;
  width: 134px;
  height: 100%;
}

.talk-button {
  box-shadow: 0 7px 12px 0 rgb(16 31 108 / 7%);
  font-size: 16px;
  border-color: #665cd7;
  color: #665cd7;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 15px 30px;
  font-weight: 600;
}

.button-container {
  text-align: center;
}

.note-button button {
  cursor: pointer;
  padding: 18px 60px;
  background-color: #665cd7;
  font-size: 18px;
  color: white;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  position: relative;
  bottom: 0px;
  margin-bottom: 20px;
}

.book-button button {
  cursor: pointer;
  padding: 18px 30px;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  bottom: 0px;
  background-color: white;
  border: 1px solid #665cd7;
  border-radius: 6px;
  color: #665cd7;
}

.bg-color-grey {
  margin-top: 120px;
  background-color: rgba(51, 74, 192, 0.03);
  padding-top: 45px;
}

.branding-list {
  text-align: center;
}

.branding-list img {
  margin-bottom: 20px;
  height: 45px;
}

.lion {
  height: 65px;
}

.who-text {
  text-align: center;
}

.who-text p {
  font-size: 50px;
  font-weight: 600;
  margin-top: 65px;
  margin-bottom: 15px;
}

.who-text img {
  width: 245px;
}

.bulb-section {
  margin-top: 65px;
  margin-bottom: 100px;
}

.bulb-section {
  width: 100%;
  position: relative;
}

.color-card {
  background-color: #ffe953;
  border-radius: 8px;
  padding: 60px 40px;
}

.custom-image {
  text-align: center;
  position: absolute;
  top: -47px;
  left: 37px;
  width: 90px;
  line-height: 90px;
  height: 90px;
  border: 1px solid grey;
  border-radius: 50%;
  background-color: #ffffff;
}

.custom-image img {
  width: 100%;
  height: 100%;
  padding: 20px;
}

/* .bulb-section {
  position: absolute;
}

.card-section {
  position: relative;
} */

.color-card h2 {
  font-size: 40px;
  margin: 0px 0px 20px 0px;
}

.color-card p {
  height: 115px;
  font-size: 20px;
  margin: 2px 0;
}

.why p {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 15px;
}

.line-image img {
  width: 445px;
  height: 2px;
  padding: 0px 15px;
}

.bg-color-white {
  background-color: white;
}

.why-container {
  text-align: center;
  padding-top: 40px;
}

.paragraph p {
  text-align: center;
  color: #383838;
  font-size: 30px;
  line-height: 1.5;
}

.product-container {
  background-color: rgba(51, 74, 192, 0.03);
}

.middle-container {
  margin-top: 55px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.right-image1 img {
  width: 100%;
}

.monitor img {
  position: absolute;
  width: 37px;
  height: 37px;
  margin: 5px 2.5px;
}

.main-monitor img {
  border-radius: 50%;
  background-color: #e0e4fa;
  display: flex;
  position: relative;
  padding: 14px;
}

.build-product {
  color: #212529;
  font-size: 48px;
  font-weight: 700;
}

.build-product p {
  margin-bottom: 18px;
}

.line img {
  width: 445px;
  height: 2px;
  padding: 0px 15px;
}

.content p {
  align-items: center;
  justify-content: center;
  line-height: 2.1;
  color: #595959;
  font-weight: 400;
  font-size: 22px;
}

.car-container {
  padding: 150px;
}

.setting-image {
  background-color: #fff3e4;
  border-radius: 50px;
  width: 74px;
  height: 74px;
  padding: 6px;
}

.setting-image img {
  width: 37px;
  height: 32px;
  margin: 5px 2.5px;
  background-color: #fff3e4;
  padding: 14px;
}

.right-content {
  margin-top: 58px;
}

.car-image img {
  width: 100%;
}

.car-heading {
  color: #212529;
  font-size: 48px;
  font-weight: 700;
}

.car-heading p {
  margin-bottom: 13px;
}

.car-para {
  font-size: 23px;
  line-height: 2;
  color: #595959;
  font-weight: 400;
}

.car-para p {
  margin-top: 0;
}

.startup-image img {
  width: 37px;
  height: 37px;
  padding-bottom: 50px;
}

.lanch-heading p {
  color: #212529;
  font-size: 48px;
  font-weight: 700;
  margin-top: 50px;
}

.launch-para {
  font-size: 22px;
  line-height: 1.9;
  color: #595959;
}

.launch {
  background-color: rgba(51, 74, 192, 0.03);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.right-border {
  display: block;
}

.right-image img {
  width: 100%;
}

.main-launch {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 100px;
}

.stand-image img {
  width: 100%;
}

.star-image img {
  width: 37px;
  height: 37px;
  background-color: #e5fbf3;
  padding: 20px;
  border-radius: 50%;
  line-height: 37;
}

.column-heading h2 {
  font-size: 45px;
  margin-bottom: 13px;
}

.our-para p {
  font-size: 22px;
  line-height: 1.7;
}

.our-main {
  background-color: #f9f9fd;
  padding-bottom: 2.5%;
}

.top-portion {
  text-align: center;
  padding: 5px;
}

.our-card {
  padding: 80px 115px;
}

.our-secret h2 {
  font-size: 48px;
  font-weight: 700;
}

.line-image {
  height: 2px;
  margin-bottom: 40px;
}

.text p {
  color: #383838;
  font-size: 42px;
  font-weight: 600;
}

.card-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ceo-main {
  background-color: #ffe953;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: -25px;
}

.ceo-parent {
  padding: 100px;
}

.ceo-left p {
  font-size: 45px;
  font: #212529;
}

.ceo-left p span {
  font-weight: 700;
}

.owner p {
  font: #212529;
  font-size: 25px;
  font-weight: 600;
}

.emtax img {
  margin: 0px;
}

.ceo-image {
  width: 100%;
  padding: 70px;
}

.ceo-image img {
  width: 100%;
}

.we-ve-main {
  background-color: whitesmoke;
  margin-top: 25px;
  text-align: center;
  padding: 50px;
}

.text-heading span {
  font-size: 30px;
  color: #6455c2;
}

.text-content {
  padding: 20px;
  text-align: center;
}

.quick-fact p {
  font-size: 40px;
  font-weight: 600;
}

.blue-line {
  width: 75px;
  margin: 25px;
  color: #6455c2;
  border: 1px solid;
  margin-left: 580px;
}

.get-para p {
  font-size: 20px;
  color: #595959;
  line-height: 40px;
}

.details {
  display: flex;
  justify-content: space-evenly;
}

.products {
  border: 1px solid white;
  border-radius: 20px;
  background-color: #fdfdfdab;
  padding: 0px 37px;
  border-bottom-color: black;
  border-bottom-width: 14px;
  margin: 60px 65px 85px 82px;
  padding: 20px;
  text-align: center;
}

.mvp {
  border: 1px solid white;
  border-radius: 20px;
  background-color: #fdfdfdab;
  padding: 0px 37px;
  border-bottom-color: black;
  border-bottom-width: 14px;
  margin: 60px 65px 85px 82px;
  padding: 20px;
  text-align: center;
}

.domain {
  border: 1px solid white;
  border-radius: 20px;
  background-color: #fdfdfdab;
  padding: 0px 37px;
  border-bottom-color: black;
  border-bottom-width: 14px;
  margin: 60px 65px 85px 82px;
  padding: 20px;
  text-align: center;
}

.countries {
  border: 1px solid white;
  border-radius: 20px;
  background-color: #fdfdfdab;
  padding: 0px 37px;
  border-bottom-color: black;
  border-bottom-width: 14px;
  margin: 60px 65px 85px 82px;
  padding: 20px;
  text-align: center;
}

.main-billion {
  background-color: #242438;
  padding-bottom: 100px;
}

.idea-row p {
  color: #ffe953d6;
  text-align: center;
  font-size: 25px;
  padding-top: 35px;
}

.whats-heading h2 {
  color: white;
  font-size: 47px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 60px;
}

.talk-mainbtn {
  text-align: center;
}

.talk-btn button {
  background-color: #665cd7;
  border: none;
  padding: 20px 60px;
  border-radius: 5px;
  cursor: pointer;
}

.talk-btn span {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}

.columnone {
  margin-top: 45px;
}

.cpy p {
  color: #43434b;
  font-size: 17px;
  margin-bottom: -8px;
}

.all {
  color: #43434b;
  font-size: 17px;
}

.company {
  margin-top: 46px;
  cursor: pointer;
}

.company-heading {
  margin-top: -2px;
}

.company-heading p {
  font-size: 22px;
  color: #43434b;
  cursor: pointer;
  margin: 0px 13px;
}

.company-list {
  margin: 0px -20px;
  line-height: 3;
  color: #43434b;
}

.company-list ul {
  list-style: none;
}

.resource {
  margin-top: 40px;
  cursor: pointer;
}

.resrc-heading p {
  font-size: 22px;
  color: #43434b;
  cursor: pointer;
  margin: 0px 13px;
}

/* .resource-list {
  margin: 0px -24px;
} */

.resource-list ul {
  list-style: none;
  line-height: 3;
}

.ultimate {
  margin-top: 46px;
  cursor: pointer;
}

.ultimate-heading p {
  font-size: 22px;
  color: #43434b;
}

.ultimate-list ul {
  color: #43434b;
  list-style: none;
  line-height: 3;
}

.footer {
  border-top: 1px solid grey;
}

.clean-code {
  position: relative;
  margin-top: 50px;
  background-color: white;
  border: 1px solid rgba(51, 74, 192, 0.12);
  border-radius: 0px 0px 40px 0px;
  padding: 30px 14px 30px 16px;
}
.clean-code-image img {
  position: absolute;
  border: 1px solid rgba(51, 74, 192, 0.12);
  width: 60px;
  height: 60px;
  border-radius: 34px;
  padding: 12px;
  background-color: white;
  top: -50px;
  left: 27px;
}

.cleancode-heading p {
  font-size: 22px;
}
.clean-para p {
  margin-top: 26px;
  font-size: 17px;
  height: 76px;
}
.card {
  background-color: #ffe953;
}
.text {
  text-align: center;
  margin-top: 42px;
}
.aspiring {
  background-color: #ffe953;
  position: relative;
  padding: 54px;
  border-radius: 10px;
}
.image img {
  position: absolute;
  width: 67px;
  height: 65px;
  border: 1px solid grey;
  border-radius: 40px;
  padding: 10px;
  background-color: white;
  top: -36px;
  left: 46px;
}
.card2 {
  text-align: center;
}
.card2 h2 {
  font-size: 42px;
  font-weight: 700;
}
.imagee p {
  font-size: 24px;
  margin-bottom: 90px;
}
.build {
  padding-top: 94px;
}
.built {
  padding-top: 0px;
}
.builtt {
  padding-top: 131px;
}

@media only screen and (max-width: 767px) {
  .bg-color-grey {
    margin-top: 54px;
  }
  .aspiring {
    margin-top: 50px;
  }
  .imagee p {
    font-size: 20px;
  }
  .card2 h2 {
    font-size: 33px;
    font-weight: 600;
  }
  .card2 {
    margin-top: -100px;
  }
  .build-product {
    font-size: 29px;
  }
  .content p {
    font-size: 20px;
  }
  .left-corner {
    text-align: center;
  }
  .car-heading {
    font-size: 29px;
  }
  .car-para {
    font-size: 20px;
  }
  .right-content {
    text-align: center;
  }
  .left-border {
    text-align: center;
  }
  .lanch-heading p {
    font-size: 29px;
  }
  .launch-para {
    font-size: 20px;
  }
  .right-column {
    text-align: center;
  }
  .column-heading h2 {
    font-size: 29px;
  }
  .our-para p {
    font-size: 20px;
  }
  .our-secret h2 {
    font-size: 42px;
  }
  .text p {
    font-size: 24px;
    font-weight: 600;
  }
  .clean-code {
    margin-bottom: 20px;
  }
  .cleancode-heading p {
    font-weight: 700;
    font-size: 30px;
  }
  .clean-code-image img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    padding: 16px;
  }
  .clean-para p {
    font-size: 20px;
    height: 100px;
  }
  .ceo-left p {
    font-size: 29px;
  }
  .owner p {
    font-size: 18px;
  }
  .products {
    margin: 60px 65px -32px 82px;
  }
  .products h2 {
    font-size: 40px;
  }
  .build-product p {
    font-size: 27px;
  }
  .mvp {
    margin: 60px 65px -32px 82px;
  }
  .mvp h2 {
    font-size: 40px;
  }
  .mvp p {
    font-size: 20px;
    font-weight: 600;
  }
  .domain {
    margin: 60px 65px -32px 82px;
  }
  .domain h2 {
    font-size: 40px;
    font-weight: 600;
  }
  .domain p {
    font-size: 20px;
    font-weight: 600;
  }
  .countries {
    margin: 60px 65px 59px 82px;
  }
  .countries h2 {
    font-size: 40px;
  }
  .countries p {
    font-size: 20px;
    font-weight: 600;
  }
  .resource-list {
    margin: 0px -20px;
  }
  .ultimate-list {
    margin: 0px -20px;
  }
  .company-heading p {
    font-weight: 600;
  }
  .resrc-heading p {
    font-weight: 600;
  }
  .ultimate-heading p {
    font-weight: 600;
  }
  .cpy p {
    margin-bottom: 9px;
  }
  .img {
    margin-bottom: 14px;
  }
  .ceo-parent {
    padding: 30px;
  }
  .ceo-image {
    padding: 30px;
  }

  .pageLink {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 2;
    margin-top: 30px;
  }

  .imageLogo {
    margin-top: 20px;
  }

  .heading h1 {
    font-size: 13px;
  }

  .button-talk {
    margin: 20px;
    text-align: center;
  }

  .para-container p {
    font-size: 25px;
    line-height: 42px;
  }

  .branding-list {
    margin-top: 60px;
  }

  .branding-list img {
    margin-bottom: 20px;
  }
  .text {
    margin-top: 32px;
    text-align: center;
  }
  .text img {
    margin-top: -30px;
  }
  .main {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .second a {
    top: -42px;
    right: -43px;
  }
}

@media only screen and (max-width: 375px) {
  .second a {
    top: -44px;
    right: -50px;
  }
}

@media only screen and (max-width: 320px) {
  .second a {
    top: -40px;
    right: -53px;
  }

  .note-button button {
    font-size: 15px;
  }

  .book-button button {
    font-size: 15px;
  }

  .who-text p {
    font-size: 40px;
    font-weight: 750;
  }

  .who-text img {
    margin-top: -30px;
  }

  .card h2 {
    font-size: 27px;
  }

  .card p {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .links {
    margin-top: 30px !important;
  }

  .button-talk {
    text-align: center;
    margin-top: 30px !important;
  }

  .aspiring {
    padding: 30px;
    margin-top: 30px;
  }

  .card-p h2 {
    font-size: 23px;
  }

  .bg-color-grey {
    margin-top: 45px;
  }

  .build {
    padding-top: 20px;
  }

  .build-product {
    font-size: 29px;
  }

  .content p {
    font-size: 20px;
  }

  .car-heading {
    font-size: 29px;
  }

  .car-para {
    font-size: 19px;
  }

  .lanch-heading p {
    font-size: 29px;
  }

  .launch-para {
    font-size: 19px;
  }

  .builtt {
    padding-top: 75px;
  }

  .column-heading h2 {
    font-size: 29px;
  }

  .our-para p {
    font-size: 19px;
  }

  .clean-para p {
    height: 113px;
    font-size: 15px;
  }

  .cleancode-heading p {
    font-size: 16px;
    font-weight: 600;
  }

  .clean-code {
    margin-bottom: 30px;
  }

  .text p {
    font-size: 27px;
  }

  .ceo-parent {
    padding: 50px;
  }

  .ceo-left p {
    font-size: 30px;
  }

  .ceo-image {
    padding: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .top-head {
    padding: 0 !important;
  }

  .heading h1 {
    background-color: #2a3c50;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 17px 0px;
    font-weight: 500;
    margin-top: 0;
  }

  .look {
    margin-left: 3px;
    text-decoration: underline;
  }

  .look:hover {
    color: #0056b3;
    text-decoration: none;
  }

  /* .second-layer div span {
    display: flex;
    position: relative;
    font-size: 10px;
    padding: 1px 1px;
    right: -20px;
    top: 0px;
    width: 69px;
    height: 19px;
    border-radius: 3px;
    background-color: #16cebc;
    line-height: 1.1;
    color: white;
  } */

  .second-layer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imageLogo {
    width: 134px;
    height: 33px;
  }

  .pageLink {
    display: flex;
    align-items: center;
  }

  .pageLink div a {
    margin-right: 15px;
    color: #43434b;
    font-size: 17px;
    text-decoration: none;
  }

  .top-bottom {
    position: relative;
  }

  .second a {
    position: absolute;
    top: -21px;
    right: -17px;
    background-color: #16cebc;
    font-size: 10px !important;
    padding: 4px 6px;
    border-radius: 3px;
    line-height: 1.1;
    color: #fff !important;
  }

  .para-container p {
    font-size: 50px;
    text-align: center;
    font-weight: 900;
    line-height: 75px;
    margin-top: 60px;
  }

  .usable {
    background-color: #e0e4fa;
  }

  .blazingfast {
    background-color: #fff3e4;
  }

  .bugfree {
    background-color: #fae5ef;
  }

  .secure {
    background-color: #e5fbf3;
  }

  .scalable {
    background-color: #f5e5fb;
  }

  img {
    left: 10px;
    vertical-align: middle;
    border-style: none;
    border-radius: 8px;
    background: transparent;
    width: 134px;
    height: 100%;
  }

  .talk-button {
    box-shadow: 0 7px 12px 0 rgb(16 31 108 / 7%);
    font-size: 16px;
    border-color: #665cd7;
    color: #665cd7;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 15px 30px;
    font-weight: 600;
  }

  .button-container {
    text-align: center;
  }

  .note-button button {
    cursor: pointer;
    padding: 18px 60px;
    background-color: #665cd7;
    font-size: 18px;
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    position: relative;
    bottom: 0px;
    margin-bottom: 20px;
  }

  .book-button button {
    cursor: pointer;
    padding: 18px 30px;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    bottom: 0px;
    background-color: white;
    border: 1px solid #665cd7;
    border-radius: 6px;
    color: #665cd7;
  }

  .bg-color-grey {
    margin-top: 120px;
    background-color: rgba(51, 74, 192, 0.03);
    padding-top: 45px;
  }

  .branding-list {
    text-align: center;
  }

  .branding-list img {
    margin-bottom: 20px;
    height: 45px;
  }

  .lion {
    height: 65px;
  }

  .who-text {
    text-align: center;
  }

  .who-text p {
    font-size: 50px;
    font-weight: 600;
    margin-top: 65px;
    margin-bottom: 15px;
  }

  .who-text img {
    width: 245px;
  }

  .bulb-section {
    margin-top: 65px;
    margin-bottom: 100px;
  }

  .bulb-section {
    width: 100%;
    position: relative;
  }

  .color-card {
    background-color: #ffe953;
    border-radius: 8px;
    padding: 60px 40px;
  }

  .custom-image {
    text-align: center;
    position: absolute;
    top: -47px;
    left: 37px;
    width: 90px;
    line-height: 90px;
    height: 90px;
    border: 1px solid grey;
    border-radius: 50%;
    background-color: #ffffff;
  }

  .custom-image img {
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  /* .bulb-section {
    position: absolute;
  }
  
  .card-section {
    position: relative;
  } */

  .color-card h2 {
    font-size: 40px;
    margin: 0px 0px 20px 0px;
  }

  .color-card p {
    height: 115px;
    font-size: 20px;
    margin: 2px 0;
  }

  .why p {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .line-image img {
    width: 445px;
    height: 2px;
    padding: 0px 15px;
  }

  .bg-color-white {
    background-color: white;
  }

  .why-container {
    text-align: center;
    padding-top: 40px;
  }

  .paragraph p {
    text-align: center;
    color: #383838;
    font-size: 30px;
    line-height: 1.5;
  }

  .product-container {
    background-color: rgba(51, 74, 192, 0.03);
  }

  .middle-container {
    margin-top: 55px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .right-image1 img {
    width: 100%;
  }

  .monitor img {
    position: absolute;
    width: 37px;
    height: 37px;
    margin: 5px 2.5px;
  }

  .main-monitor img {
    border-radius: 50%;
    background-color: #e0e4fa;
    display: flex;
    position: relative;
    padding: 14px;
  }

  .build-product {
    color: #212529;
    font-size: 48px;
    font-weight: 700;
  }

  .build-product p {
    margin-bottom: 18px;
  }

  .line img {
    width: 445px;
    height: 2px;
    padding: 0px 15px;
  }

  .content p {
    align-items: center;
    justify-content: center;
    line-height: 2.1;
    color: #595959;
    font-weight: 400;
    font-size: 22px;
  }

  .car-container {
    padding: 150px;
  }

  .setting-image {
    background-color: #fff3e4;
    border-radius: 50px;
    width: 74px;
    height: 74px;
    padding: 6px;
  }

  .setting-image img {
    width: 37px;
    height: 32px;
    margin: 5px 2.5px;
    background-color: #fff3e4;
    padding: 14px;
  }

  .right-content {
    margin-top: 58px;
  }

  .car-image img {
    width: 100%;
  }

  .car-heading {
    color: #212529;
    font-size: 48px;
    font-weight: 700;
  }

  .car-heading p {
    margin-bottom: 13px;
  }

  .car-para {
    font-size: 23px;
    line-height: 2;
    color: #595959;
    font-weight: 400;
  }

  .car-para p {
    margin-top: 0;
  }

  .startup-image img {
    width: 37px;
    height: 37px;
    padding-bottom: 50px;
  }

  .lanch-heading p {
    color: #212529;
    font-size: 48px;
    font-weight: 700;
    margin-top: 50px;
  }

  .launch-para {
    font-size: 22px;
    line-height: 1.9;
    color: #595959;
  }

  .launch {
    background-color: rgba(51, 74, 192, 0.03);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .right-border {
    display: block;
  }

  .right-image img {
    width: 100%;
  }

  .main-launch {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 100px;
  }

  .stand-image img {
    width: 100%;
  }

  .star-image img {
    width: 37px;
    height: 37px;
    background-color: #e5fbf3;
    padding: 20px;
    border-radius: 50%;
    line-height: 37;
  }

  .column-heading h2 {
    font-size: 45px;
    margin-bottom: 13px;
  }

  .our-para p {
    font-size: 22px;
    line-height: 1.7;
  }

  .our-main {
    background-color: #f9f9fd;
    padding-bottom: 2.5%;
  }

  .top-portion {
    text-align: center;
    padding: 5px;
  }

  .our-card {
    padding: 80px 115px;
  }

  .our-secret h2 {
    font-size: 48px;
    font-weight: 700;
  }

  .line-image {
    height: 2px;
    margin-bottom: 40px;
  }

  .text p {
    color: #383838;
    font-size: 42px;
    font-weight: 600;
  }

  .card-section {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .ceo-main {
    background-color: #ffe953;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: -25px;
  }

  .ceo-parent {
    padding: 50px;
  }

  .ceo-left p {
    font-size: 35px;
    font: #212529;
  }

  .ceo-left p span {
    font-weight: 700;
  }

  .owner p {
    font: #212529;
    font-size: 25px;
    font-weight: 600;
  }

  .emtax img {
    margin: 0px;
  }

  .ceo-image {
    width: 100%;
    padding: 40px;
  }

  .ceo-image img {
    width: 100%;
  }

  .we-ve-main {
    background-color: whitesmoke;
    margin-top: 25px;
    text-align: center;
    padding: 50px;
  }

  .text-heading span {
    font-size: 30px;
    color: #6455c2;
  }

  .text-content {
    padding: 20px;
    text-align: center;
  }

  .quick-fact p {
    font-size: 40px;
    font-weight: 600;
  }

  .blue-line {
    width: 75px;
    margin: 25px;
    color: #6455c2;
    border: 1px solid;
    margin-left: 580px;
  }

  .get-para p {
    font-size: 20px;
    color: #595959;
    line-height: 40px;
  }

  .details {
    display: flex;
    justify-content: space-evenly;
  }

  .products {
    border: 1px solid white;
    border-radius: 20px;
    background-color: #fdfdfdab;
    padding: 0px 37px;
    border-bottom-color: black;
    border-bottom-width: 14px;
    margin: 40px;
    padding: 20px;
    text-align: center;
  }

  .mvp {
    border: 1px solid white;
    border-radius: 20px;
    background-color: #fdfdfdab;
    padding: 0px 37px;
    border-bottom-color: black;
    border-bottom-width: 14px;
    margin: 40px;
    padding: 20px;
    text-align: center;
  }

  .domain {
    border: 1px solid white;
    border-radius: 20px;
    background-color: #fdfdfdab;
    padding: 0px 37px;
    border-bottom-color: black;
    border-bottom-width: 14px;
    margin: 40px;
    padding: 20px;
    text-align: center;
  }

  .countries {
    border: 1px solid white;
    border-radius: 20px;
    background-color: #fdfdfdab;
    padding: 0px 37px;
    border-bottom-color: black;
    border-bottom-width: 14px;
    margin: 40px;
    padding: 20px;
    text-align: center;
  }

  .main-billion {
    background-color: #242438;
    padding-bottom: 100px;
  }

  .idea-row p {
    color: #ffe953d6;
    text-align: center;
    font-size: 25px;
    padding-top: 35px;
  }

  .whats-heading h2 {
    color: white;
    font-size: 47px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 60px;
  }

  .talk-mainbtn {
    text-align: center;
  }

  .talk-btn button {
    background-color: #665cd7;
    border: none;
    padding: 20px 60px;
    border-radius: 5px;
    cursor: pointer;
  }

  .talk-btn span {
    color: white;
    font-size: 20px;
    font-weight: 600;
  }

  .footer {
    display: flex;
    justify-content: space-evenly;
  }

  .columnone {
    margin-top: 45px;
  }

  .cpy p {
    color: #43434b;
    font-size: 17px;
    margin-bottom: -8px;
  }

  .all {
    color: #43434b;
    font-size: 17px;
  }

  .company {
    margin-top: 46px;
    cursor: pointer;
  }

  .company-heading {
    margin-top: -2px;
  }

  .company-heading p {
    font-size: 22px;
    color: #43434b;
    cursor: pointer;
    margin: 0px 13px;
  }

  .company-list {
    margin: 0px -20px;
    line-height: 3;
    color: #43434b;
  }

  .company-list ul {
    list-style: none;
  }

  .resource {
    margin-top: 40px;
    cursor: pointer;
  }

  .resrc-heading p {
    font-size: 22px;
    color: #43434b;
    cursor: pointer;
    margin: 0px 13px;
  }

  /* .resource-list {
    margin: 0px -24px;
  } */

  .resource-list ul {
    list-style: none;
    line-height: 3;
  }

  .ultimate {
    margin-top: 46px;
    cursor: pointer;
  }

  .ultimate-heading p {
    font-size: 22px;
    color: #43434b;
  }

  .ultimate-list ul {
    color: #43434b;
    list-style: none;
    line-height: 3;
  }

  .footer {
    border-top: 1px solid grey;
  }

  .clean-code {
    position: relative;
    margin-top: 50px;
    background-color: white;
    border: 1px solid rgba(51, 74, 192, 0.12);
    border-radius: 0px 0px 40px 0px;
    padding: 30px 14px 30px 16px;
  }
  .clean-code-image img {
    position: absolute;
    border: 1px solid rgba(51, 74, 192, 0.12);
    width: 60px;
    height: 60px;
    border-radius: 34px;
    padding: 12px;
    background-color: white;
    top: -50px;
    left: 27px;
  }

  .cleancode-heading p {
    font-size: 22px;
  }
  .clean-para p {
    margin-top: 26px;
    font-size: 17px;
    height: 76px;
  }
  .card {
    background-color: #ffe953;
  }
  .text {
    text-align: center;
    margin-top: 42px;
  }
  .aspiring {
    background-color: #ffe953;
    position: relative;
    padding: 54px;
    border-radius: 10px;
  }
  .image img {
    position: absolute;
    width: 67px;
    height: 65px;
    border: 1px solid grey;
    border-radius: 40px;
    padding: 10px;
    background-color: white;
    top: -36px;
    left: 46px;
  }
  .card2 {
    text-align: center;
  }
  .card2 h2 {
    font-size: 42px;
    font-weight: 700;
  }
  .imagee p {
    font-size: 24px;
    margin-bottom: 90px;
  }
  .build {
    padding-top: 94px;
  }
  .built {
    padding-top: 0px;
  }
  .builtt {
    padding-top: 131px;
  }
}

@media only screen and (min-width: 1200px) {
  .links {
    margin-top: 0px !important;
  }

  .button-talk {
    text-align: center;
    margin-top: 0px !important;
  }

  .card-p h2 {
    font-size: 34px;
}
}
